<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公告管理</title>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/page.js" ></script>
<script type="text/javascript">
	function addNotice(){
		window.location.href="http://localhost:8080/noticeadd";
	}

</script>
</head>


<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/coin11.png" /><span><a href="#">校园公告</a>&nbsp;-&nbsp;-</span>&nbsp;公告管理列表
			</div>
		</div>

		<div class="page">
			<!-- user页面样式 -->
			<div class="connoisseur">
				<div class="conform">
						<div class="cfD">
							<!-- <input class="userinput" type="text" placeholder="输入用户名" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
							<input class="userinput vpr" type="text" placeholder="输入用户密码" /> -->
							<button class="userbtn" onclick="addNotice()">添加</button>
						</div>
				</div>
				<!-- user 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="150px" class="tdColor">标题</td>
							<td width="200px" class="tdColor">内容</td>
							<td width="150px" class="tdColor">发布者</td>
							<td width="150px" class="tdColor">发布时间</td>
							<td width="130px" class="tdColor">操作</td>
						</tr>
						<tr height="40px" th:each="notice,noticeStat:${notices}">
							<td th:text="${noticeStat.count}">1</td>
							<td th:text="${notice.theme}">今日头条</td>
							<td th:text="${notice.content}">资源特别少这两天在做一个springboot的项目</td>
							<td th:text="${notice.user_name}">张强</td>
							<td th:text="${notice.create_time}">2018-5-11</td>
							<td><a th:href="@{/noticeedit(noticeId=${notice.id})}"><img class="operation"
									src="img/update.png" /></a> <a th:href="@{/noticeDelete(noticeId=${notice.id})}" ><img class="operation"
								src="img/delete.png" /></a></td>
						</tr>
					</table>
					<!-- <div class="paging">此处是分页</div> -->
				</div>
				<!-- user 表格 显示 end-->
			</div>
			<!-- user页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>