<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑用户</title>
<link rel="stylesheet" type="text/css" th:href="@{css/css.css}" />
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;意见管理
			</div>
		</div>
		<div class="page ">
			<!-- 会员注册页面样式 -->
			<form action="#" th:action="@{/updateUser}" th:object="${user}" method="post">
			<div class="banneradd bor">
				<input name="id" type="hidden"  th:value="${user.id}" />
				<div class="baTopNo">
					<span>用户编辑</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;用户名：<input name="username" type="text" class="input3" th:value="${user.username}"/>
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：<input name="password" type="password" th:value="${user.password}"
							class="input3" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年龄：<input name="age" onkeyup="value=value.replace(/[^\d]/g,'')" type="text" th:value="${user.age}" class="input3" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机：<input name="phone" onkeyup="value=value.replace(/[^\d]/g,'')" type="text" th:value="${user.phone}" class="input3" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：
						<select name="sex" th:value="${user.sex}">     
						  <option value="0" >-请选择-</option>     
						  <option value="1" th:selected="${user.sex=='1'}">男</option>     
						  <option value="2" th:selected="${user.sex=='2'}">女</option>  
						 </select>  
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：<input name="adress"  type="text" class="input3" th:value="${user.adress}"/>
					</div>
					<div class="bbD">
						<p class="bbDP">
							<input type="submit" class="btn_ok btn_yes" value="提交" >
							<!-- <button  href="update">提交</button> -->
							<a class="btn_ok btn_no" href="content_user">取消</a>
						</p>
					</div>
				</div>
			</div>
			</form>
			<!-- 会员注册页面样式end -->
		</div>
	</div>
</body>
</html>